    * {
    margin: 0;
    padding: 0;
  }


body {
    font-family: 'Poppins', sans-serif;
    background: rgb(136, 168, 121);
    background: linear-gradient(
    90deg,
    rgba(136, 168, 121, 1) 0%,
    rgba(107, 126, 97, 0.8743872549019608) 50%,
    rgba(136, 168, 121, 1) 100%
  );
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* HEADER */

nav {
    background: #444;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    font-weight: 600;
    font-size: 30px;
    background: url(assets/logo.png) center no-repeat;
    background-size: cover;
    transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }
  
  
  nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
  }

  nav a:hover {
    transform: scale(0.90);
    color: #5c7252;
  }
  
  .fixed-nav {
    position: fixed;
  }


/* NOTRE START-UP */

.trait {
    height: 1px;
    width: 50%;
    background-color: #444;
    margin-left: 15px;
}

.title-box {
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 15px;
}


h2 {
    color: #222831;
}



.box-start-up {
    max-height: 300px;
    gap: 30px;
    padding: 20px;
}

.box-start-up > img{
    max-height: 300px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.582);
}

.box-start-up > p:first-child{
    text-align: right;
    line-height: 35px;
    
}
 
.slide {
    opacity: 0;
    transition: ease-in .8s;
    transform: translateY(-10%) scale(0.95);

}

.slide2 {
    opacity: 0;
    transition: ease-in .8s;
    transform: translateY(10%) scale(0.95);
}

.translate {
    transform: translateY(0) scale(0.99999) translateZ(0px);
    opacity: 1;

}



.box-start-up > p:last-child {
    text-align: left;
    line-height: 35px;
       
}


/* NOTRE EQUIPE */


.box-equipe {
    padding: 50px;
}

.box-equipe > p {
    font-style: italic;
}

.slide3 {
    opacity: 0;
    transition: ease-in .8s;
    transform: translateX(-100%) scale(0.95);
}

.translate3 {
    transform: translateX(0) scale(0.99999) translateZ(0px);
    opacity: 1;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.associate > img {
    width: 70px;
    border-radius: 50%;
}

.associate {
    position: relative;
}

.associate p {
    position: absolute;
    text-align: center;
    top: 100%;
    opacity: 0;
    font-style: italic;
    transition: opacity 0.5s ease-in;

}

.associate:hover p {
    opacity: 1;
}

/* NOS VALEURS */

.valeurs {
    margin-top: 40px;
    margin-bottom: 100px;
}

.valeur {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5%;
}

.valeur p {
    text-align: center;
}

.v1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("assets/img-v1.jpg");
}

.v2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("assets/img-v2.jpg");
}

.v3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("assets/img-v3.jpg");
}

/* FOOTER */

.icon-item {
    text-decoration: none;
    margin-right: 15px;
    color: #999999;
  }
  
  .fab {
    font-size: 25px;
    margin-right: 15px;
    transition: all 0.2s ease 0s;
  }
  
  footer a:hover {
    color: #222222;
  }
  
  footer p {
    color: #888888;
  }
  
  footer {
    background-color: #444444;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin-top: 50px;
  }